@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/*reseting the styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --logo: #0A2140;
  --section-que-hacemos-bg-color:#C2E5F2;
  --section-solucion-bg-color:#7EC8D9;
  --section-metodologia-bg-color:#1D72A7;
  --section-contactanos-bg-color:#C2E5F2;
  --footer-bg-color:#037691;
  --acceder-btn-bg-color:#2C7373;
  --intranet-bg-color:#95BBCE;
  --text-color:#38A0C7;
  --white: #ffffff;
  --join-us-btn: #0A2140;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}

/*main styles*/
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
  font-size:15px;
  line-height:1.6;
  overflow-x: hidden;
}
.fredokaStyle,h1,h2 {
  font-family: 'Fredoka One', cursive;
}
/*sizes*/
h1 { font-size: 2.2rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }

p {
font-size: 1em;
}


@media screen and (min-width:600px){
  body {font-size:16px;}
  h1 { font-size: 2.4rem;}
  h2 { font-size: 2.1rem; }
  h3 { font-size: 1.9rem; }
  h4 { font-size: 1.7rem; }
  h5 { font-size: 1rem; }
}

@media screen and (min-width:768px){
  body{font-size:18px;}
  h1 { font-size: 2.6rem;}
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1rem; }
}

@media screen and (min-width:992px){
  body{font-size:20px;}
}

