.hero {
<<<<<<< HEAD
  
}
=======
  height: 60vh;
  background-image: url('../assets/images/hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2%;
}

.hero-title > h1  {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 25%;
}

.hero-title {
  max-width: 65%;
}

>>>>>>> 99a85b60a19f107f278ba28eea89cf5355d102ff
.sectionChart {
  margin:15% auto;
  justify-content: center;
}
.sectionChart h3 {
  color:var(--logo);
  font-weight: 700;
  margin-bottom: 5%;
}
.sectionChartText {
  align-self: center;
  margin-bottom: 15%;
}
.porQueJumbotron {
  background-color: var(--section-metodologia-bg-color);
  padding: 2% 0 10% 0;
  margin:15% auto;
  color: #fff;
  align-items: center;
}
.porQueJumbotronP{
  max-width: 100%;
}

@media screen and (max-width:600px){
  .hero h1 {
      font-size: 1rem;
      margin-top: 5%;
  }
}
@media screen and (min-width:992px){
  .sectionChartText {
    max-width: 40%;
    margin-right: 5%;
  }
}
@media screen and (min-width:768px) {
  .porQueJumbotronP {
    max-width: 70%;
  }
}
