.hero {
  
}
.sectionChart {
  margin:15% auto;
  justify-content: center;
}
.sectionChart h3 {
  color:var(--logo);
  font-weight: 700;
  margin-bottom: 5%;
}
.sectionChartText {
  align-self: center;
  margin-bottom: 15%;
}
.porQueJumbotron {
  background-color: var(--section-metodologia-bg-color);
  padding: 2% 0 10% 0;
  margin:15% auto;
  color: #fff;
  align-items: center;
}
.porQueJumbotronP{
  max-width: 100%;
}
@media screen and (min-width:992px){
  .sectionChartText {
    max-width: 40%;
    margin-right: 5%;
  }
}
@media screen and (min-width:768px) {
  .porQueJumbotronP {
    max-width: 70%;
  }
}
