

.cards{
    padding:5%;

}

.card-text{
    padding:2% 0;
}
.eachcards{
    padding:2%;
    width:40%;
    border-radius:5% ;
    background-color:white;
   
}

/* .cardsImage{
    height:12em;
    object-fit:cover;
    
} */


@media only screen and (max-width: 600px) {
    .eachcards{
        width:80%;
}
    .eachcards:first-of-type{
        margin-bottom:10%;
    }

    /* .cardsImage{
        width:40em;
        text-align:center;
    } */
}