.footer{
    background-color: #037691;
    padding:5% 6%;
    color:white;
    font-size: 0.8em;
    margin-top: 15%;
    text-align: center;
}
.footerLogoDisplay {
    font-size: 100em;
}
.adressFooter {
    text-align: left;
}
.footerImg{
    display: flex;
    justify-content: space-around;
}
.footerImg img {
    width: 40px;
}
@media screen and (max-width:600px) {
    footer {
        width: 100%;
    }
    .footerRow * {
        margin-bottom: 5%;
    }
    .footerLogoDisplay {
        display: none;
    }
}
@media screen and (max-width: 900px) { 
    .footerLogoDisplay>.logo {
        font-size: 1.5rem;
    } 
}