.footer{
    background-color: #037691;
    padding:6%;
    color:white;
    font-size: 0.8em;
    margin-top: 35%;
    text-align: center;
}
.adressFooter {
    text-align: left;
}
.footerImg{
    display: flex;
    justify-content: space-around;
}
.footerImg img {
    width: 40px;
}
@media screen and (max-width:600px) {
    footer {
        width: 100%;
    }
    .footerRow * {
        margin-bottom: 5%;
    }
   
    .adressFooter {
        text-align: center;
    }
}
@media screen and (max-width:768px){
    .footerLogoDisplay {
        display: none;
    }
}