.footer{
    background-color: #037691;
    padding:6%;
    color:white;
    font-size: 0.8em;
    margin-top: 10%;
    text-align: center;
}

.adressFooter {
    text-align: left;
}

.footerImg{
    display: flex;
    justify-content: space-around;
}

.footerImg img {
    width: 40px;
}